a {
  text-decoration: none;
}
.list_produtos a:hover {
  text-decoration: underline;
}
/* body {
  background: linear-gradient(to bottom left, #ffffffc7, #01ff092a);
  Gradiente leve
  height: 100vh; Define a altura para ocupar toda a altura da tela
} */

img {
  max-width: 100%;
  max-height: 100%;
  /* Configuração para garantir que as imagens não ultrapassem os limites de largura e altura do contêiner */
}

body {
  width: 1000px;
  margin: 0 auto;
  /*Fixando tamanho do corpo e centralizando conteudos*/
}
.button_verde {
  display: inline-block;
  background: #426b1f;
  color: #ffffff;
  height: 20px;
  width: 80px;
  text-align: center;
  border-radius: 8px;
  padding: 8px 15px;
  /* Configuração para botão link navegação*/
}

/* ################## Detalhe pag #################### */

.visao {
  width: 1000px;
  /* background: rgba(255, 0, 0, 0.322); */
  display: flex;
  position: fixed;
  z-index: -1;
  align-items: center;
  /* margin: 0 auto; */
  gap: 50px;
  top: 100px;
}
.imagem_fundo_left {
  max-width: 480px;
}

.texto_banner {
  border-radius: 20% 0 20% 0;
  width: 500px;
  height: 400px;
  text-align: center;
  padding: 40px 10px;
}

.texto_banner h1 {
  font-size: 32px;
  line-height: 1.2;
}

.texto_banner p {
  font-size: 18px;
  line-height: 1.6;
}
