.list_produtos {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 30px;
  justify-items: center;
  /* background: #ffffff; */
  padding: 10px 0;
  /* Configuração da seção que faz a listagem de todos os produtos, 
  configurações de grid */
}
.containner_item {
  width: 300px;
  height: 500px;
  background: #fafadb;
  border-radius: 5px;
  border: 2px solid #e6e6d8;
  box-sizing: border-box;
  position: relative; /*Posição relativa para configura o bottao de contato ao roda pe de vid*/

  /*Configuração do container individuais, configura altura/largura, cor e borda */
  /*Conteiner de itens que contem fotos, nome prodruto, tipo e descrição*/
}
.containner_img {
  position: relative;
  /*Define possição repativa para configurar as setas de transição de imagens*/
}

.gridmenor {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0 0;
  text-align: center;

  /*Classe para setar configuração das imagem que ficam no container item, configura tamanhos 
  para não estoura*/
}

.carrossel {
  display: none;
  /*As imagem que contem essa classe sao ocultadas do flux da tela*/
}
.visivel {
  display: initial;
  /*As imagem que contém essa classe são iniciadas novamente ao fluxo da tela*/
}

.previous,
.next {
  display: block;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  transition: transform 0.3s ease; /* Adiciona uma transição suave */

  /*seta configuração de display block para as setas de transição de imagem e configura altura e largura, retira a cor de fundo e borda da img seta */
}
.previous {
  position: absolute;
  bottom: 50%;
  right: 90%;
  /*Botão de volta define a posição dele em relação ao container e*/
}
.next {
  position: absolute;
  bottom: 50%;
  right: 0;
  /*Botão de avançar define a posição dele em relação ao container e*/
}

.previous:hover,
.next:hover {
  transform: scale(1.5);
  /*Aumenta a escala dos botões quando o mause passa por cima*/
}

.inf_produto {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.nome_item {
  font-size: 20px;
  white-space: nowrap; /*Não deixa quebrar linha*/
  text-transform: capitalize; /*Primeira aletras maiusculas*/
  /*Class onde mostra o nome do item que esta trocando ou doando*/
}

.tipo_item {
  margin-left: auto; /*Alinha o texto a direita do container*/
  font-size: 15px;
  color: #426b1f;
  text-transform: capitalize; /*Primeira aletras maiusculas*/
  /*Class mostra o tipo de anuncio troca ou doação*/
}

.descricao_produto {
  margin: 10px 10px 0;
  line-height: 1.3; /*altura da linha*/
  text-align: left; /*Alinha texto a esquerda*/
  max-height: 188px;
  /* Esconde qualquer conteúdo que ultrapasse os limites do elemento */
  overflow: hidden;
  /*Definições de como a descrição do item deve se comportar*/
}

.button_templete_cor {
  display: block;
  background: #426b1f;
  color: #ffffff;
  font-size: 14px;
  width: 60px;
  text-align: center;
  border-radius: 8px;
  padding: 8px 15px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  /*Button para contato, define as configurações de posição, cor tamanho e alinhamento*/
}
.button_templete_cor:hover {
  transform: scale(1.1);
  /*Aumenta a escala do botão ao passar com o mouse*/
}
