<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Home-EcoSwap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style_head.css') }}">
  <!--Configuração navegador de links estilização externa-->

</head>

<body>
  <header>
    <div class="top">
      <a href="/">
        <h1 id="nome_logo">EcoSwap</h1>
      </a>
      <nav>
        <a href="/">Página Inicial</a>
        <a href="">Preservação</a>
        <a href="">Sobre</a>
        <a id="logado" href="/login">Login</a>
        <div class="menu-container">
          <a class="button_verde" id="link_menu" href="cadastrar_usuario">Registrar</a>
          <div class="submenu">
          </div>
        </div>
      </nav>
    </div>

    <div class="banner">
      <!-- <img src="/static/imagens/pag/logo banner.png" alt="EcoSwap"> -->
      <!-- <img src="/static/imagens/pag/Logo.png" alt="EcoSwap"> -->

    </div>



  </header>

  <h2>Adicionar novo usuario</h2>
  <form method="POST" action="{{url_for('cadastrar_usuario')}}">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" required><br><br>

    <label for="email">Email:</label>
    <input type="email" name="email" required><br><br>

    <label for="senha">Senha:</label>
    <input type="password" name="senha" required><br><br>

    <label for="telefone">Telefone:</label>
    <input type="number" name="telefone" required><br><br>

    <input type="submit" value="cadastrar usuario"><br>
  </form>

  <div class="explicao">
    <p>Bem-vindo ao EcoSwap, o seu espaço para troca e doação! Ao cadastrar um item, você está contribuindo para uma comunidade de compartilhamento sustentável.</p>

    <p>Lembre-se de que seu número de telefone e email serão compartilhados apenas com pessoas interessadas no seu item. Este é um serviço exclusivo de troca e doação, e todas as conversas são direcionadas para plataformas externas de mensagens.</p>

    <p>Sua privacidade é importante para nós. Se tiver alguma dúvida sobre como suas informações são tratadas, consulte nossa política de privacidade.</p>

  </div>





</body>

</html>