<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Perfil {{usuario.nome}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style_head.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='cadastra_produto.css') }}">
  <!--Configuração navegador de links estilização externa-->

</head>

<body>
  <header>
    <div class="top">
      <a href="/">
        <h1 id="nome_logo">EcoSwap</h1>
      </a>
      <nav> <!--Menu de navegação com estilo hamburguer-->
        <a href="/">Página Inicial</a>
        <!-- <a href="">Preservação</a> -->
        <a href="/sobre">Sobre</a>
        <a id="nome_nav" href="/perfil">Nome</a>
        <div class="menu-container">
          <a class="button_verde" id="link_menu" href="">Menu</a>
          <div class="submenu">
            <a href="/perfil">Perfil</a>
            <!-- <a href="/cadastrar_produto">Cadastrar Item</a> -->
            <a href="/listar_produtos">Listar Produtos</a>
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </nav>
    </div>





  </header>
  <main>
    <div class="formulario">
      <!--Seção do formulario par areceber os dados do item a ser cadastrado, Nome, tipo, descrição e imagens, required: todos obrigatorios-->
      <h2>Adicionar Produto</h2><br>

      <form method="POST" action="{{ url_for('cadastrar_produto') }}" enctype="multipart/form-data">
        <!--Configuração do método POST para envio de dados, direcionando para a rota 'cadastrar_produto' no backend e permitindo o envio de arquivos-->

        <label for="nome_produto">Nome do Produto: <em>*</em></label>
        <input class="text_input" type="text" name="nome_produto" required><br><br>

        <label for="tipo_produto">Doação/Troca: <em>*</em></label>
        <select class="text_input" name="tipo_produto" id="tipo_produto">
          <option value="Doação">Doação</option>
          <option value="Troca">Troca</option>
        </select>

        <label for="descricao_produto">Descrição do Produto: <em>*</em></label>
        <textarea class="text_input" type="text" name="descricao_produto" rows="6" cols="70" required></textarea>

        <label class="input_imagem_label" for="imagem1">Imagem 1: <em>*</em></label>
        <input class="input_imagem" type="file" name="imagem1" required>

        <label class="input_imagem_label" for="imagem2">Imagem 2: <em>*</em></label>
        <input class="input_imagem" type="file" name="imagem2" required>

        <label class="input_imagem_label" for="imagem3">Imagem 3: <em>*</em></label>
        <input class="input_imagem" type="file" name="imagem3" required>

        <input class="button_form" type="submit" value="Cadastrar Produto">
      </form>

    </div>

    <div class="regras"> <!--Seção informativa de como deve cadastrar o classificado-->
      <ol>
        <li>
          <strong>Nome do Produto/Tipo:</strong>
          É obrigatório fornecer um nome claro e específico para o seu produto. Exemplo: bicicleta, patins, etc.
        </li>
        <li>
          <Strong>Tipo:</Strong>
          Selecione se o produto é para doação ou troca. Esta informação é fundamental para a comunidade entender suas intenções.
        </li>
        <li><strong>Descrição do Produto:</strong>
          Forneça uma descrição detalhada do seu produto. Você tem até 240 caracteres para explicar as características principais ou condições do item.
        </li>
        <li>
          <strong>Fotos:</strong>
          Inclua três fotos do seu produto. Certifique-se de que as imagens são claras e mostram diferentes ângulos para que os interessados possam avaliar melhor.
        </li>
      </ol>
      <p>
        &emsp; Lembre-se: Ao cadastrar um item, você concorda em compartilhar seu número de telefone com pessoas interessadas no seu produto. Esta é uma prática para facilitar a comunicação entre os membros da comunidade EcoSwap.
      </p>
      <p>
        &emsp; O EcoSwap é uma plataforma dedicada à troca e doação de itens, promovendo uma abordagem sustentável e colaborativa. Agradecemos por contribuir para uma comunidade mais consciente!
      </p>
    </div>

  </main>




  <!-- armazenado as variaveis para pegar com o java script -->
  <div id="container_dados_user" data-nome="{{usuario.nome}}" data-email="{{usuario.email}}" data-telefone="{{usuario.telefone}}" data-total_produtos="{{total_produtos}}" data-f_perfil="{{usuario.imagem_perfil}}"></div>
  <script src="{{url_for('static', filename='generic.js')}}"></script>
</body>

</html>