<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Cadastrar Produto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style_head.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

</head>

<body>
  <header>
    <div class="top">
      <a href="index2.html">
        <h1 id="nome_logo">EcoSwap</h1>
      </a>
      <nav>
        <a href="/">Página Inicial</a>
        <a href="">Preservação</a>
        <a href="">Sobre</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a class="button_verde" href="">Menu</a>
      </nav>
    </div>

    <div class="banner">
      <img src="/static/imagens/pag/logo banner.png" alt="EcoSwap">
    </div>

    <div class="pesquisa">
      <!-- <a id="pesquisar">Pesquisar</a> -->
      <!-- <a id="Classificar">Classificar</a> -->
    </div>

  </header>

  <h2>Adicionar Produto</h2>
  <form method="POST" action="{{ url_for('cadastrar_produto') }}" enctype="multipart/form-data">
    <label for="nome_produto">Nome do Produto:</label>
    <input type="text" name="nome_produto" required><br><br>

    <label for="tipo_produto">Doação/Troca:</label>
    <input type="text" name="tipo_produto" required><br><br>

    <label for="descricao_produto">Descrição do Produto:</label>
    <input type="text" name="descricao_produto" required><br><br>

    <label for="imagem1">Imagem-1:</label>
    <input type="file" name="imagem1" required><br><br>

    <label for="imagem2">Imagem-2:</label>
    <input type="file" name="imagem2" required><br><br>

    <label for="imagem3">Imagem-3:</label>
    <input type="file" name="imagem3" required><br><br>

    <input type="submit" value="Cadastrar Produto"><br>
  </form>



  <div id="container_dados_user" data-nome-usuario="{{nome_usuario}}"></div>
  <script src="{{url_for('static', filename='script_page.js')}}"></script>
</body>

</html>