<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Home-EcoSwap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style_head.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='listar_produto.css') }}">
  <!--Configuração navegador de links estilização externa-->

</head>

<body>
  <header>
    <div class="top">
      <a href="/">
        <h1 id="nome_logo">EcoSwap</h1>
      </a>
      <nav> <!--Menu de navegação com estilo hamburguer-->
        <a href="/">Página Inicial</a>
        <!-- <a href="">Preservação</a> -->
        <a href="">Sobre</a>
        <a id="nome_nav" href="/perfil">Nome</a>
        <div class="menu-container">
          <a class="button_verde" id="link_menu" href="">Menu</a>
          <div class="submenu">
            <a href="/perfil">Perfil</a>
            <a href="/cadastrar_produto">Cadastrar Item</a>
            <!-- <a href="/listar_produtos">Listar Produtos</a> -->
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </nav>
    </div>



  </header>



  <h1 style="text-align: center;">Meus itens Online</h1>

  <section class="list_produtos"> <!-- Inicio da seção lista de produtos-->
    {% if produtos %}
    {% for produto in produtos %}
    <!-- loop percorrer produtos cadastrados no banco de dados -->
    <div class="containner_item">

      <div class="containner_img"> <!-- area para segurar as imagens,  -->
        <!-- class carrocel, visivel invisivel sera usadas para transição de imagens pelo javaScrip -->
        <!-- class gridmenor usada para setar configuração das imagem que ficam no container item, configura tamanhos 
  para não estoura-->
        <img data-js="carrossel" class="carrossel  visivel gridmenor" src="{{ produto.imagem1 }}" alt="Imagem 1">
        <img data-js="carrossel" class="carrossel invisivel gridmenor" src="{{ produto.imagem2 }}" alt="Imagem 2">
        <img data-js="carrossel" class="carrossel invisivel gridmenor" src="{{ produto.imagem3 }}" alt="Imagem 3">


        <div class="button_center"> <!-- area dos botoes volta e avançar  usado para troca as imagens na tela-->
          <button data-js="button_previus" class="button previous"><img src="/static/imagens/pag/previous_icon.svg" alt="Imagem anterior"></button>

          <button data-js="button_next" class="button next"><img src="/static/imagens/pag/next_icon.svg" alt="Imagem anterior"></button>
        </div>

      </div>


      <div class="inf_produto destaque_produto"> <!-- Informações do produto em destaque -->
        <strong class="cor_titulo nome_item">{{ produto.nome_produto }}</strong>
        <strong class="cor_destak tipo_item">{{ produto.tipo_produto }}</strong>
      </div>


      <p class="paragrafo_grid_menor descricao_produto">{{ produto.descricao_produto }}</p>
      <!-- criar botao para remover item  -->
      <a class="button_templete_cor  click_hover" target="_blank">Remover</a>

    </div>

    {% endfor %} <!--Fim do loop que exibe produtos-->
    {% else %}
    <!-- Mensagem exibida quando não há produtos cadastrados -->
    <p>Nenhum produto cadastrado.</p>
    {% endif %}
  </section><!-- fim da seção lista de produtos-->



  <div id="container_dados_user" data-nome="{{usuario.nome}}" data-email="{{usuario.email}}" data-telefone="{{usuario.telefone}}" data-total_produtos="{{total_produtos}}" data-f_perfil="{{usuario.imagem_perfil}}"></div>
  <!--Data atributos com informações dinamicas do usuario par ser usado pelo javaScrip-->


  <script src="{{url_for('static', filename='generic.js')}}"></script>

</body>

</html>