<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>EcoSwap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style_head.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

</head>

<body>
  <header>
    <div class="top">
      <a href="index2.html">
        <h1 id="nome_logo">EcoSwap</h1>
      </a>
      <nav>
        <a href="/">Home</a>
        <a href="">Preservação</a>
        <a href="">Sobre</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        <a class="button_verde" href="cadastrar_produto">{{ usuario.nome }}</a>
      </nav>
    </div>

    <div class="banner">
      <img src="/static/imagens/pag/logo banner.png" alt="EcoSwap">
    </div>

    <div class="pesquisa">
      <a id="pesquisar">Pesquisar</a>
      <a id="Classificar">Classificar</a>
      <a id="agrupar">Agrupar</a>
    </div>

  </header>
  <h2>Perfil de {{ usuario.nome }}</h2>
  <p>Email: {{ usuario.email }}</p>
  <p>Senha: {{ usuario.senha }}</p>
  <p>Telefone: {{usuario.telefone}}</p>
  <a href="/produtos">Produtos</a> |
  <a href="{{ url_for('logout') }}">Logout</a><br><br>
  <a href="cadastro_produto.html">Cadastrar Produto</a>



</body>

</html>