<!-- index.html -->
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Perfil {{usuario.nome}}</title><!--Exibe no titulo o nome do usuario logado-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index_style_head.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='perfil.css') }}">
  <!--Configuração navegador de links estilização externa-->


</head>

<body>
  <header>
    <div class="top">
      <a href="/"><!--Redireciona pag principal-->
        <h1 id="nome_logo">EcoSwap</h1>
      </a>
      <nav> <!--Menu de navegação com estilo hamburguer-->
        <a href="/">Página Inicial</a>
        <a href="">Sobre</a>
        <a id="nome_nav" href="">Nome</a>
        <div class="menu-container">
          <a class="button_verde" id="link_menu" href="">Menu</a>
          <div class="submenu">
            <!-- <a href="/perfil">Perfil</a> -->
            <a href="/cadastrar_produto">Cadastrar Item</a>
            <a href="/listar_produtos">Listar Produtos</a>
            <a href="{{ url_for('logout') }}">Logout</a>
          </div>
        </div>
      </nav>
    </div>



    <!-- <div id="editar_perfil">
      <a id="button_edita_perfil" href="">Editar Perfil</a>
    </div> -->

  </header>

  <section class="perfil">

    <div class="div_foto_perfil">
      <img id="foto_perfil" src="" alt="Foto perfil">

      <h2 id="nome" class="bloco"></h2>
    </div>

    <div>
      <strong id="total_publicações" class="bloco"></strong>
      <strong class="publi_total"><a href="/listar_produtos">Publicações</a></strong>
    </div>

    <div>
      <strong>Telefone: </strong>
      <strong id="telefone"></strong><br>

    </div>

  </section>




  <section class="publicacoes">
    <div class="imagens">
    </div>
    <h5 id="nome-produto"></h5>
    <strong id="tipo_produto"></strong>
    <p id="descricao_produto"></p>
    <a id="ver_mais" href=""></a>


  </section>




  <!-- armazenado as variaveis para pegar com o java script -->
  <div id="container_dados_user" data-nome="{{usuario.nome}}" data-email="{{usuario.email}}" data-telefone="{{usuario.telefone}}" data-total_produtos="{{total_produtos}}" data-f_perfil="{{usuario.imagem_perfil}}"></div>


  <script src="{{url_for('static', filename='script_perfil_page.js')}}"></script>

</body>

</html>